<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>List</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand mb-3 h1 fs-1">
                Home
            </a>

            <button 
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="./storefront" class="nav-link active fs-3">
                            <span>Store</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./table" class="nav-link active fs-3">
                            <span>Table</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./list" class="nav-link active fs-3">
                            <span>List</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./video" class="nav-link active fs-3">
                            <span>Video</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="./audio" class="nav-link active fs-3">
                            <span>Audio</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="main-content">
        <H1>Professional Greeting</H1>
        <P>Welcome to the &lt;List&gt; page. </P>
        
        <br>
        <H2>Let me show you nest list in HTML</H2>
        <H3>YDGIYSDGIXFGB????</H3>
        <ol class="gradient-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aenean tincidunt elit at ipsum cursus, vitae interdum nulla suscipit.</li>
            <li>Curabitur in orci vel risus facilisis accumsan.</li>
            <li>Morbi eleifend tortor lacinia sapien sagittis, quis pellentesque felis egestas.</li>
            <li>Aenean viverra dui quis leo lacinia fringilla.</li>
            <li>Sed varius lectus ac condimentum egestas.</li>
            <li>Maecenas faucibus lorem nec lorem posuere, a rhoncus velit porttitor.</li>
            <li>Proin porta arcu ac elit malesuada pulvinar.</li>
            <li>Phasellus vitae felis sit amet mi gravida volutpat.</li>
            <li>Curabitur vulputate urna non efficitur interdum.</li>
            <li>Curabitur dapibus enim in consectetur imperdiet.</li>
            <li>Suspendisse consectetur nibh non condimentum porta.</li>
            <li>Ut placerat diam in cursus aliquet.</li>
            <li>Praesent vitae quam id tortor malesuada viverra ut at elit.</li>
            <li>Vivamus feugiat justo id volutpat rutrum.</li>
            <li>Nulla volutpat erat non mauris condimentum, nec consequat elit posuere.</li>
            <li>Vestibulum eu risus efficitur, porta lacus a, mollis metus.</li>
            <li>Maecenas finibus arcu vel urna commodo, ac bibendum massa vestibulum.</li>
            <li>Praesent eleifend leo eget consectetur interdum.</li>
            <li>Suspendisse et lectus gravida, interdum mauris aliquet, mattis purus.</li>
            <li>In nec nisl feugiat, blandit odio non, vulputate neque.</li>
            <li>Sed id felis mollis, bibendum orci a, condimentum augue.</li>
            <li>Etiam eleifend ipsum nec nibh aliquam, non commodo risus eleifend.</li>
            <li>Curabitur in ipsum eget lacus blandit maximus in at sem.</li>
            <li>Curabitur sagittis ante nec libero maximus, ut imperdiet elit egestas.</li>
            <li>Proin congue felis sed ultrices elementum.</li>
            <li>Duis sit amet velit et lectus eleifend interdum non quis ex.</li>
            <li>Praesent congue lectus a felis pharetra malesuada.</li>
            <li>Sed vel mauris condimentum, egestas dolor eu, porttitor nisl.</li>
            <li>Donec sed elit tincidunt, accumsan magna sed, facilisis libero.</li>
            <li>Curabitur vel purus quis justo placerat euismod mollis ac arcu.</li>
            <li>Sed eget mi et justo luctus mollis ut non augue.</li>
            <li>Suspendisse sit amet lectus et magna euismod tempor.</li>
            <li>Vestibulum accumsan velit et ipsum pellentesque, vitae ultricies erat blandit.</li>
            <li>Pellentesque vel dolor ac risus efficitur convallis.</li>
            <li>Maecenas feugiat quam at facilisis dapibus.</li>
            <li>Cras commodo leo sit amet lacus lacinia, eget rutrum sem sodales.</li>
            <li>Ut sit amet risus finibus, iaculis lectus sit amet, varius lectus.</li>
            <li>Duis dignissim elit eget erat maximus luctus.</li>
          </ol>
    </main>

</body>
</html>